<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>home</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <h2>メモアプリへようこそ！</h2>
  <form action="/memos" method="GET">
    <div>
      <input type="submit" class="btn btn-primary" value="メモ一覧を見る">
    </div>
  </form>
</body>
</html>
